@using CI_Platform.Entities.ViewModels
@{
    var FirstName = ViewBag.FirstName;
    Pager pager = new Pager();
    int pageNo = 0;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

    var numberofmissions = ViewBag.NumberofMissions;
}
@model List<MissionVm>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/HomePage.css" rel="stylesheet" />
    <link rel="stylesheet" href = "~/css/HomePageListView.css" />
    <link rel="stylesheet" href="~/css/VolunteeringMissionPage.css" />
    
  </head>

  <body>
   <partial name = "_Header" />

    <!-- main body starts here -->

    <div class="container-fluid col-10">
      <!-- Sorting, grid view and list view -->

      <div class="row d-flex  pb-0 pt-5 mx-lg-5 align-content-center">
        <div class="col-lg-6 col d-flex align-items-center p-0 m-0">
          <p class="cont pt-2 p-0">
            <span style="max-width: 82px; max-height: 38px; font-weight: 100"
              >Explore
            </span>
            <span
              style="
                max-width: 154px;
                max-height: 38px;
                letter-spacing: NaNpx;
                font-weight: 400;
              "
              >@numberofmissions Missions</span
            >
          </p>
        </div>

        <div class="col p-0 m-0 d-flex justify-content-end align-content-center gap-5">
          <!-- Sorting drop down -->

          @*<div class="dropdown p-0 mr-4" id="sortmenu">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Sort By
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
              <a class="dropdown-item" asp-action="PlatformLanding" asp-route-sortby = "@ViewBag.sortvalue">Newest</a>
              <a class="dropdown-item" asp-action="PlatformLanding" asp-route-sortby = "@ViewBag.sortvalue">Oldest</a>
              <a class="dropdown-item" asp-action="PlatformLanding" asp-route-sortby="@ViewBag.sortvalue">Sort By Deadline</a>
              <a class="dropdown-item" href="#">Sort By My Favourite</a>
              <a class="dropdown-item" href="#">Highest Available Seats</a>
              <a class="dropdown-item" href="#">Lowest Available Seats</a>
            </div>
          </div>*@

          <select class="form-select sortbywidth" aria-label="Default select example" id = "selectsort" name="sort" style="max-width:180px">
              
                            @*<option selected>@ViewBag.sortvalue</option>*@
                            <option value="Newest">Newest</option>
                            <option value="Oldest">Oldest</option>
                            <option value="Lowest available seats">Lowest available seats</option>
                            <option value="Highest available seats">Highest available seats</option>

                            <option value="My favourites">My favourites</option>

                            <option value="Sort By Deadline">Sort By Deadline</option>
                        </select>

          <!-- sorting dropdown end -->

          <!-- list and grid view start -->

         <div class = " d-flex justify-content-end align-content-center pt-1 mt-1 gap-3">
             
             <a onclick="gridview()" class="toggle_icon">
                 <img src ="~/assets/grid.png">
             </a>
             
             
              <a onclick="listview()"  class="toggle_icon">
                 <img src ="~/assets/list.png">
             </a>
             

         </div>
        </div>
      </div>
      
      @*grid view container starts here*@
      <div id="maindata">
          <partial name="_FilterPagePartial" model="@Model"/>
      </div>
      
        


        @*list view div starts*@

        <div class="container" id="listviewcontainer" style = "display:none">

            @foreach(var card in Model){

            @*card div starts herree*@
            <div class="card-list mb-3" style="max-width: 100%">
                <div class="row g-0 d-flex">
                    @*image section div starts here*@
                  <div class="col-md-4 col-xl-3 mr-2" id="image-div">
                    <img
                      src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                      class="rounded-start w-100 h-100"
                      alt="..."
                    />
                    @*city div starts here*@
                    <div class="city-button bg-dark d-flex pl-2">
                      <img class="pin-img" src="~/assets/pin.png" alt="" />
                      <span
                        class="city-txt pb-4 align-content-center justify-content-center"
                      >
                        @card.CityName</span
                      >
                    </div>
                    @*city div ends here*@
                    @*add to favourite div starts here*@
                    <div
                      class="like-buttonn p-2 justify-content-center bg-dark d-flex m-0 align-items-center ms-auto"
                    >
                      <img
                        class="d-flex like-img"
                        src="~/assets/heart.png"
                        alt=""
                      />
                    </div>
                    @*add to favourite div ends here*@
                    @*recommend to a co-worker div starts*@
                    <div
                      class="share-buttonn p-2 justify-content-center bg-dark d-flex m-0 align-items-center ms-auto"
                    >
                      <img
                        class="d-flex like-img"
                        src="~/assets/user.png"
                        alt=""
                      />
                    </div>
                    @*recommend to a co-worker div ends*@
                    @*mission theme div starts*@
                    <div class="mission-theme-list p-1">
                      <span class="theme-txt">@card.MissionThemes</span>
                    </div>
                    @*mission theme div ends*@
                  </div>
                  @*image section div ends here*@
                  @*card details div starts here*@
                  <div class="col-md-8">
                    <div class="card-body">
                        @*div containing city, organization, theme and rating details starts*@
                      <div class="upper-content d-flex">
                          @*city div starts*@
                        <div class="city-button-list d-flex mr-4">
                          <img
                            class="pin-img d-flex"
                            src="~/assets/pin1.png"
                            alt=""
                          />
                          <span
                            class="city-txt-list pb-4 align-content-center justify-content-center"
                          >
                            &nbsp; @card.CityName</span
                          >
                        </div>
                        @*city div ends*@
                        @*theme div starts*@
                        <div class="city-button-list d-flex">
                          <img
                            class="pin-img d-flex"
                            src="~/assets/pin1.png"
                            alt=""
                          />
                          <span
                            class="city-txt-list pb-4 align-content-center justify-content-center"
                          >
                            &nbsp; @card.MissionThemes</span
                          >
                        </div>
                        @*theme div ends*@
                        @*organization div starts*@
                        <div class="org-name-list d-flex col">
                          <img
                            class="pin-img d-flex"
                            src="~/assets/organization.png"
                            alt=""
                          />&nbsp; @card.OrganizationName
                        </div>
                        @*organization div ends*@
                        @*rating div starts*@
                        <div class="rating d-flex col">
                          <img
                            class="img-fluid star-rating"
                            src="~/assets/selected-star.png"
                            alt=""
                          />
                          <img
                            class="img-fluid star-rating"
                            src="~/assets/selected-star.png"
                            alt=""
                          />
                          <img
                            class="img-fluid star-rating"
                            src="~/assets/selected-star.png"
                            alt=""
                          />
                          <img
                            class="img-fluid star-rating"
                            src="~/assets/star.png"
                            alt=""
                          />
                          <img
                            class="img-fluid star-rating"
                            src="~/assets/star.png"
                            alt=""
                          />
                        </div>
                        @*rating div ends*@
                      </div>
                      @*div containing city, organization, theme and rating details ends*@


                      @*mission title starts*@
                      <h5 class="card-title-list">
                        @card.Title
                      </h5>
                      @*mission title ends*@
                      @*mission short description starts*@
                      <p class="card-text-list">
                        @card.ShortDescription
                      </p>
                      @*mission short description ends*@
                      @*div wrappiing date, seats, skills and deadline starts here *@
                      <div class="col d-flex">
                          @*seats div starts*@
                        <div class="seats d-flex align-items-center col-3">
                          <div class="seats-img">
                            <img
                              src="~/assets/Seats-left.png"
                              class="img-fluid"
                              id="seat-img"
                              alt=""
                            />
                          </div>
                          <div class="seats-details pl-2">
                            <span class="d-block seat-num">@card.AvailableSeats</span>
                            <span class="seats-txt">Seats Left</span>
                          </div>
                        </div>
                        @*seats div ends*@
                        @*deadline div starts here*@
                        <div class="date d-flex align-items-center col-3">
                          <div class="clock-img">
                            <img
                              src="~/assets/hours.png"
                              id="clock-img"
                              alt=""
                            />
                          </div>
                          <div class="event-deadline pl-2">
                            <span class="d-block d-date">@card.Deadline</span>
                            <span class="deadline-txt">Deadline</span>
                          </div>
                        </div>
                        @*deadline div ends here*@
                        @*mission period div starts*@
                        <div class="claendar d-flex align-items-center col-3">
                          <div class="calendar-img">
                            <img
                              src="~/assets/calender.png"
                              id="clock-img"
                              alt=""
                            />
                          </div>
                          <div class="mission-period-list pl-2">
                            <span class="d-block d-date">@card.StartDate</span>
                            <span class="deadline-txt">@card.EndDate</span>
                          </div>
                        </div>
                        @*mission period div ends*@
                        @*skills div starts*@
                        <div class="skills-list d-flex align-items-center col-2">
                          <div class="skills-img">
                            <img
                              src="~/assets/calender.png"
                              id="clock-img"
                              alt=""
                            />
                          </div>
                          <div class="mission-period-list pl-2">
                            <span class="d-block d-date">Skills</span>
                            <span class="deadline-txt">Botany</span>
                          </div>
                        </div>
                        @*skills div ends*@
                      </div>
                      @*div wrappiing date, seats, skills and deadline ends here *@
                      @*apply button div starts here*@
                      <div class="details-btn align-content-center d-flex w-100 p-0">
                        
                            <button class="view-details-btn ms-auto">
                              <a
                                class="text-decoration-none view-details-link d-flex p-1"
                                asp-action="VolunteeringMissionPage" asp-controller="Mission" asp-route-id="@card.MissionId"
                              >
                              @if(card.HasApplied==true){
                                  <span class="view-details-txt"
                                  >View Details &nbsp;<img
                                    src="~/assets/right-arrow.png"
                                    alt=""
                                /></span>
                              }
                              else if(@card.RegistrationDeadline<DateTime.Now){
                                  <span class="view-details-txt"
                                  >Closed &nbsp;<img
                                    src="~/assets/right-arrow.png"
                                    alt=""
                                /></span>
                              }
                              else{
                                  <span class="view-details-txt"
                                  >Apply &nbsp;<img
                                    src="~/assets/right-arrow.png"
                                    alt=""
                                /></span>
                              }
                                
                              </a>
                            </button>
                        
                      </div>
                      @*apply button div ends here*@
                    </div>
                  </div>
                  @*card details div ends here*@
            </div>
       </div>
       @*card div ends here*@
       }
        </div>


       @* list view div ends*@

      
      </div>


      @*pagination starts*@
      <nav aria-label="Page navigation example">
          @if (pager.TotalPages > 0)
            {
                <ul class="pagination d-flex align-content-center justify-content-center">
                        @if(pager.CurrentPage > 1)
                        {
                            <li class = "page-item">
                                <a class = "page-link" asp-controller = "Mission" asp-action = "PlatformLanding" asp-route-pg = "1">First</a>
                            </li>
                            <li class = "page-item">
                                <a class = "page-link" asp-controller = "Mission" asp-action = "PlatformLanding" asp-route-pg = "@(pager.CurrentPage - 1)">Previous</a>
                            </li>
                        }




                   
                        @for(var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                        {
                   
                        <li class="page-item @(pge == pager.CurrentPage ?  "active" : "")"><a class="page-link" asp-controller="Mission" asp-action = "PlatformLanding" asp-route-pg="@pge">@pge</a></li>
          
                        }


                        @if(pager.CurrentPage < pager.TotalPages)
                        {
                            <li class = "page-item">
                                <a class = "page-link" asp-controller = "Mission" asp-action = "PlatformLanding" asp-route-pg = "@(pager.CurrentPage + 1)">Next</a>
                            </li>
                            <li class = "page-item">
                                <a class = "page-link" asp-controller = "Mission" asp-action = "PlatformLanding" asp-route-pg = "@(pager.TotalPages)">Last</a>
                            </li>
                        }
                </ul>
         }
      </nav>
      @*pagination ends*@
    @*</div>*@
  
    

  <!-- MDB -->
   @* <script src = "~/lib/jquery/dist/jquery.min.js" asp-append-version="true"
></script>*@
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
 

  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"
  ></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
  @*<script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>*@
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
 
 <script src = "~/js/Searchscript.js"></script>
  <script src = "~/js/Cascade.js" asp-append-version="true"
></script>
 <script>
// var listview = document.getElementById("listviewcontainer");
//listview.style.display = "none";
function gridview(){
    var listview = document.getElementById("listviewcontainer");
    var gridview = document.getElementById("gridviewcontainer");
    ////listview.style.display = "none!important";
    gridview.style.display = "block";
    listview.style.display = "none";
}
function listview(){
    var listview = document.getElementById("listviewcontainer");
    var gridview = document.getElementById("gridviewcontainer");
    listview.style.display = "block";
    gridview.style.display = "none";
}
 </script>
 </body> 

</html>
