@using CI_Platform.Entities.ViewModels;
@model ShareStoryVm
@{
    var draftedstory = ViewBag.DraftedStory;
    var nomissionselected = ViewBag.SelectMission;
    var maxvideos = ViewBag.MaxVideo;
}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share Your Story</title>
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    @*<script src="https://cdn.ckeditor.com/ckeditor5/35.3.0/classic/ckeditor.js"></script>*@
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
                tinymce.init({
                selector: 'textarea#editor',
                //statusbar: false,
                skin: 'bootstrap',
                plugins: 'lists, link, image, media',
                toolbar: ' bold italic strikethrough | superscript subscript removeformat ',
                menubar: false,
                });
            </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/ShareYourStory.css" rel="stylesheet" />
    
    
  </head>
  
  <body>
      <partial name="_OnlyHeader" />
      @*main div starts here*@
      <div class="container col-10">
          <form method="post" enctype = "multipart/form-data">
          <h1 class="share-title pt-5" style="font-weight:100">Share Your Story</h1>
         @*div wrapping select mission, story title and date starts*@
          <div class="row row-cols-1 row-cols-xl-3 row-cols-md-2 main-select-div d-flex ps-2">
               @*select mission main div starts here*@
              <div class="selectiondiv col p-0 m-0 mt-4 pe-5">
                  <label class="selectdiv-title" for="mission-select">Select Mission</label><br />
                  <select asp-for="@Model.MissionId" class="mission-select w-100 mt-2" id="mission-select" onchange="getSavedData()" style="height:38px">
                      <option value=null>Select a Mission</option>
                    @foreach(var mission in Model.UserAppliedMissions)
                    {
                        
                        
                            <option value="@mission.MissionId">@mission.MissionName</option>
                        
                    }
                    @*<option>Select Your Mission</option>
                      <option>Option2</option>*@
                  </select>
                  @if(nomissionselected!=null){

                      <span class=text-danger>@nomissionselected</span>
                  }
              </div>
               @*select mission main div ends here*@
               @*story details main div starts here*@
              <div class="story-details-div col p-0 m-0 mt-4 pe-5">
                  <label class="story-title" asp-for="@Model.StoryTitle" for="storydesc">My Story title</label><br />
                  <input type="text" asp-for="@Model.StoryTitle" class="story-title w-100 mt-2" id="storydesc" style="height:38px" placeholder="Enter Story Title">
              </div>
              @*story details main div ends here*@
              @*date selection main div starts here*@
              <div class="date-selection-div col p-0 m-0 mt-4 pe-xl-2 pe-5">
                  <label class="selectdiv-title" asp-for="@Model.Date" for="date-select">Date</label><br />
                  <input type="date" asp-for="@Model.Date" class="date-i w-100 mt-2" id="date-select" style="height:38px" placeholder="Date">
              </div>
              @*date selection main div starts here*@
          </div>
         @*div wrapping select mission, story title and date ends*@
         @*story description div starts here*@


         <div class="story-details-main-div p-0 m-0 pt-3 mt-3">
             <label class="my-story-txt p-0 m-0" asp-for="@Model.StoryDesctiption" for="story-description">My Story</label>
             @*<div class="texteditor w-100" style="margin-top:5px">
                 <textarea asp-for="@Model.StoryDesctiption" id="editor" placeholder="Enter story Details"></textarea>
             </div>*@
              <div class="form-group" style="margin-top:5px;">
                  <textarea asp-for = "@Model.StoryDesctiption" id = "editor" placeholder = "Write your Story here!!!"></textarea>
                 @* <span asp-validation-for="Description" class="text-danger"></span>*@
              </div>
                                     

                 
         </div>


         @*story description div ends here*@
         @*video url div starts here*@
         <div class="video-main-div pt-3 mt-3">
             <label class="video-url-txt" asp-for="@Model.VideoUrl" for="video-url">Enter Video URL</label>
             @*<input type="url" asp-for="@Model.VideoUrl" class="video-path w-100 mt-2" id="video-url" style="height:38px" placeholder="Enter your url"/>*@
             <textarea class="form-control"  asp-for="@Model.VideoUrl" rows="3" placeholder="enter video url" id="videourl"></textarea>
                @if(maxvideos != null)
                {
                    <span class="text-danger">@maxvideos</span>
                }
            </div>
         @*video url div ends here*@
         @*drag and drop starts here*@
        @* <form method="post" asp-action="Save" asp-controller="Story">*@
        <div class="row" style="margin-top:15px">
            <label>Upload your Photos</label>
            <div class="upload__box mt-2">
                  <div class="upload__btn-box">
                    <label class="upload__btn">
                      <img src="~/assets/drag-and-drop.png">
                      <input type="file" multiple asp-for="Storyimg" id="input-image" class="upload__inputfile" accept = "image/jpeg, image/png, image/jpg">
                    </label>
                  </div>
                  <div class="upload__img-wrap"></div>
            </div>
        </div>

         @*drag and drop ends here*@
          @*data-max_length="20"*@
         @*cancel, save and submit button wrapper div starts here*@

         <div class="button-wrapper d-flex mt-3 pt-3">
             <div class="col cancel-btn-div">
                 @*<a asp-action="StoriesListing" asp-controller="Story">*@<button asp-action="StoriesListing" asp-controller="Story" class="btn cancel-btn" >Cancel</button>@*</a>*@
             </div>

             <div class="col save-submit d-flex justify-content-end">
                 
                     <button type = "submit" class="btn me-3 save-btn" onclick="formSubmit()">Save</button>
                     <button class="btn submit-btn" type="submit" id="submit-btn" asp-action="Submit" asp-controller="Story" disabled>Submit</button>
                     
                   
                         
                    

             </div>
             
         </div>
         </form>
         @*cancel, save and submit button wrapper div ends here*@
      </div>
      @*main div ends here*@
       @*<script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
           
    </script>*@
    
    <script src="~/js/JavaScript.js"></script>
  </body>
   <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"
  ></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

  </html>
