@using CI_Platform.Entities.ViewModels
@model List<AdminBannerDisplayVm>
@{
    ViewData["Title"] = "AdminBannerHome";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    if(TempData["SuccessMessage"] != null){
        <script type="text/javascript">
            alert('@TempData["SuccessMessage"]');
        </script>
    }
}

<div class="title-div" style="border-bottom:solid 1px; border-bottom-color:gray">
                    <h3 style="font-weight:400;">Banner Management</h3>
                </div>
                <div class="search-add-wrapper d-flex justify-content-between mt-3 p-2">
                    <div class="search-wrapper d-flex align-content-center p-2 w-25" style="border:solid 1px;">
                        <i class="bi bi-search"></i>
                        <input type="search" class="ps-2" placeholder="Search" style="border:none;" />
                    </div>
                    @*<button type="button" class="add-object-btn"><i class="bi bi-plus"></i>&nbsp;Add</button>*@
                    <a class="add-object-btn d-flex justify-content-center pt-2" asp-controller="Admin" asp-action="AdminBannerAdd"><i class="bi bi-plus"></i>&nbsp;Add</a>
                </div>
                <div class="object-table mt-4">
                    <table class="table" id="Admin-table">
                        <thead style="height:80px;">
                            <tr>
                                
                                <th>Image</th>
                                <th>Sort Order</th>
                                <th style="text-align:end"><span class="pe-2">Action</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var banner in Model){
                                <tr>
                                
                                <td>@banner.Image</td>
                                <td>@banner.SortOrder</td>
                                <td>
                                    <div class="icons-div d-flex justify-content-end">
                                        <div class="edit-icon-div">
                                            @*<button type="button" class="object-edit">
                                                <img src="~/assets/editing.png" />
                                            </button>*@
                                            <a class="btn object-edit" asp-controller="Admin" asp-action="AdminBannerEdit" asp-route-bannerid="@banner.BannerId">
                                                <img src="~/assets/editing.png" />
                                            </a>
                                        </div>
                                        <div class="delete-icon-div">
                                            @*<button type="button" class="object-delete">
                                                <img src ="~/assets/bin.png" />
                                            </button>*@
                                            <button type="button" class="btn object-delete" onclick="getbannerid(@banner.BannerId)" data-toggle="modal" data-target="#exampleModalCenter">
                                              <img src ="~/assets/bin.png" />
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                              <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Confirm Delete</h5>
                                                    <button type="button" id="del-modal-close" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                      <input type="number" id="bannerid" hidden>
                                                    Are You Sure You Want to delete this item?
                                                    
                                                  </div>
                                                  <div class="modal-footer d-flex justify-content-center">
                                                      <button type="button" class="btn obj-delete-cancel" data-dismiss="modal">Cancel</button>
                                                      <a class="btn pt-2 modal-delete-btn" onclick="deleteBanner()">Delete</a>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>

                <script>
                    function getbannerid(id){
                        document.getElementById("bannerid").value = id;

                    }


                    function deleteBanner(){
                        var bannerid = $("#bannerid").val();
                        $.ajax({
                            url:'/Admin/DeleteBanner',
                            data:{bannerid:bannerid},
                            success: function (result){
                                if(result != ""){
                                    $("#del-modal-close").click();
                                setTimeout(function(){
                                alert(result);
                                },1500)//
                                setTimeout(function(){
                                location.reload();
                                },2000)
                                
                                
                                }
                                //alert(result);
                                $("#del-modal-close").click();
                                setTimeout(function(){
                                alert("Deleted Successfully");
                                },1500)//
                                setTimeout(function(){
                                location.reload();
                                },2000)
                                
                            }
                        })
                    }
                </script>