
@using CI_Platform.Entities.ViewModels
@model AdminMissionCreateVm
@{
    ViewData["Title"] = "AdminMissionAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
                    tinymce.init({
                    selector: 'textarea#editor',
                    //statusbar: false,
                    skin: 'bootstrap',
                    plugins: 'lists, link, image, media',
                    toolbar: ' bold italic strikethrough | superscript subscript removeformat ',
                    menubar: false,
                    });
       </script>
    <link href="~/css/AdminMission.css" rel="stylesheet" />
</head>
<body>
    <form method="post" enctype = "multipart/form-data">
        <div class="cms-add-main-div pb-5" style="border:solid 1px; border-color:#D9D9D9;">

            <div class="title-div p-0 m-0 w-100" style="height:65px; border-bottom:solid 1px; background-color:#F8F9FC; border-bottom-color:#E8E8E8;">
                <div class="p-3">
                    <span style="font-size:22px;font-weight:400;">Add</span>
                </div>
            
            </div>
            <div class="container">
                <div class="row gap-2 mt-3">
                    <div class="col mb-3">
                        <label class="form-label">Mission Title</label><br />
                        <input type="text" class="form-control" placeholder="Mission Title" asp-for="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Short Description</label><br />
                        <input type="text" class="form-control" placeholder="Short Description"  asp-for="ShortDescription"/>
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                </div>


                <div class="row gap-2 mt-3">
                    <div class="col mb-3">
                        <label class="form-label">Organization Name</label><br />
                        <input type="text" class="form-control" placeholder="Organization Name" asp-for="OrganizationName" />
                        <span asp-validation-for="OrganizationName" class="text-danger"></span>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Organization Details</label><br />
                        <input type="text" class="form-control" placeholder="Organization Details" asp-for="OrganizationDetails" />
                        <span asp-validation-for="OrganizationDetails" class="text-danger"></span>
                    </div>
                </div>



                <div class="row gap-2 mt-3">
                    <div class="col mb-3">
                        <label class="form-label">Country</label><br />
                        <select id="country-dropdown" class="form-control" onchange="getcities(@Model.CityId)" asp-for="CountryId">
                            <option value=null>Select A Country</option>
                            @foreach(var country in Model.Countries)
                            {
                                <option value="@country.CountryId">@country.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">City</label><br />
                        <select id="city-dropdown" class="form-control" asp-for="CityId">

                        </select>
                    </div>
                </div>




                <div class="row gap-2 mt-3">
                    <div class="col mb-3">
                        <label class="form-label">Start Date</label><br />
                        <input type="date" class="form-control" asp-for="StartDate"/>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">End Date</label><br />
                        <input type="date" class="form-control" asp-for="EndDate" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>



                <div class="row gap-2 mt-3">
                    <div class="col mb-3">
                        <label class="form-label">Mission Type</label><br />
                        <select class="form-control" id="mission-type" asp-for="MissionType">
                            <option value="Time">Time</option>
                            <option value="Goal">Goal</option>
                        </select>
                    </div>
                    <div class="col time-div mb-3">
                        <label class="form-label">Total Seats</label><br />
                        <input type="number" class="form-control" placeholder="Total Seats" asp-for="TotalSeats" />
                    </div>
                </div>


                <div class="row gap-2 mt-3 goal-div" style="display:none">
                    <div class="col mb-3">
                        <label class="form-label">Goal Objective</label><br />
                        <input type="text" class="form-control" placeholder="Goal Objective" asp-for="GoalObjective" />
                        <span asp-validation-for="GoalObjective" class="text-danger"></span>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Goal Value</label><br />
                        <input type="number" class="form-control" placeholder="Goal Value" asp-for="GoalValue"/>
                        <span asp-validation-for="GoalValue" class="text-danger"></span>
                    </div>
                </div>



                <div class="row gap-2 mt-3">
                    <div class="col mb-3">
                        <label class="form-label">Mission Theme</label><br />
                        <select class="form-control" asp-for="ThemeId">
                            <option value=null>Select a Theme</option>
                            @foreach(var theme in Model.MissionThemes)
                            {
                                <option value="@theme.MissionThemeId">@theme.Title</option>
                            }

                        </select>
                    </div>
                    <div class="col skill-div mb-3">
                        <label class="form-label">Mission Skills</label><br />
                        <select class="form-control" asp-for="SkillIds" multiple>
                            @foreach(var skill in Model.SkillList)
                            {
                                <option value="@skill.SkillId">@skill.SkillName</option>
                            }
                        </select>
                    </div>
                </div>


                <div class="row gap-2 mt-3">
                    <div class="col mb-3">
                        <label class="form-label">Mission Availability</label><br />
                        <select class="form-control" asp-for="Availability">
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="week-end">WeekEnd</option>
                            <option value="monthly">Monthly</option>
                        </select>
                    </div>
                    <div class="col time-div mb-3">
                        <label class="form-label">Registration DeadLine</label><br />
                        <input type="date" class="form-control" asp-for="DeadLine"/>
                        <span asp-validation-for="DeadLine" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-3">
                    <label class="form-label">Video URL</label><br />
                    <input type="url" class="form-control" placeholder="Enter Video URL"  asp-for="VideoURL"/>
                </div>
                <div class="row mt-3">
                    <label class="form-label">Mission Description</label><br />
                    <textarea class="pt-0" id = "editor" placeholder = "Write your Description Here" asp-for="Description"></textarea>
                </div>

                <div class="row mt-3">
                    <label class="form-label">Upload Mission Images and Documents</label>
                    <div class="upload__box mt-2">
                  <div class="upload__btn-box">
                    <label class="upload__btn">
                      <img src="~/assets/drag-and-drop.png">
                      <input type="file" multiple id="input-image" class="upload__inputfile" asp-for="Images" >
                    </label>
                  </div>
                  <span asp-validation-for="Images" class="text-danger"></span>
                  <div class="upload__img-wrap"></div>
            </div>
                </div>

               

            </div>

            
        </div>




        <div class="button-wrapper d-flex justify-content-end mt-4">
            <a class="cancel-btn d-flex justify-content-center me-3" asp-controller="Admin" asp-action="AdminMissionHome">
                <div class="pt-2">
                    <span>Cancel</span>
                </div>
            </a>
            @*<a class="save-cms-btn d-flex justify-content-center" asp-controller="Admin" asp-action="AdminCMSHome">
                <div class="pt-2">
                    <span>Save</span>
                </div>
            </a>*@
            <button class="save-mission-btn btn" type="submit">Save</button>
        </div>
    </form>
    <script src="~/js/AdminMission.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
@*accept = "image/jpeg, image/png, image/jpg"*@
