@using CI_Platform.Entities.ViewModels
@model MainViewModelVm

<div id = "gridviewcontainer">
      <div class="row row-cols-1 row-cols-xl-3  pt-3 justify-content-center">
         @*row-cols-md-2*@
        <!-- first mission card -->
        @foreach(var card in Model.Missions){
        <div class="card col p-2 m-2 d-flex" id = "card-bod">
          
            <!-- div wrapping img and buttons on it starts -->
            <div class="img-button p-0 m-0">
              <img
                class="card-img-top"
                src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability.png"
                alt="Card image cap"
              />

              <div class="city-button bg-dark d-flex pl-2">
                <img class="pin-img" src="~/assets/pin.png" alt="" />
                <span
                  class="city-txt pb-4 align-content-center justify-content-center"
                >
                  @card.CityName</span
                >
              </div>
              <div class="like-button bg-dark d-flex p-2 m-0">
                <img
                  src="~/assets/heart.png"
                  class="like-img d-flex"
                  alt=""
                />
              </div>
              <div class="share-button bg-dark d-flex p-2 m-0">
                <img
                  src="~/assets/user.png"
                  class="share-img d-flex"
                  alt=""
                />
              </div>
            </div>
            <!-- div wrapping img and buttons on it ends -->
            <div class="mission-theme p-1">
              <span class="theme-txt">@card.MissionThemes</span>
            </div>

            <div class="container card-body">
              <!-- mission title starts here -->
              <div class="row">
                <h5 class="card-title" id="missiontitle">
                  @card.Title
                </h5>
              </div>
              <!-- mission title ends here -->
              <!-- mission text starts here -->
              <div class="row">
                <p class="card-text">
                  @card.ShortDescription
                </p>
              </div>
              <!-- mission text starts here -->
              <!-- mission organization and mission rating wrapper row div starts -->
              <div class="row mt-3">
                <!-- mission organization col div starts -->
                <div class="col mission-org">@card.OrganizationName</div>
                <!-- mission organization col div ends -->
                <!-- rating col div starts -->
                <div class="col mission-rating d-flex align-content-center">
                    @for(int j = 0; j < card.Ratings; j++)
                    {
                        <i class = "bi bi-star-fill text-warning m-2"></i>
                                     
                    }      
                    @for(int? j = card.Ratings; j<5; j++)
                    {
                        <i class = "bi bi-star m-2"></i>
                                     
                    }
                  
                </div>
                <!-- rating col div ends -->
              </div>
              <div class="row d-flex justify-content-center mt-4">
                <div class="col-1 p-0">
                  <hr />
                </div>
                <div
                  class="col-10 event-period d-flex align-content-center justify-content-center m-0"
                >
                  <span class="event-active p-2"
                    >@card.StartDate - @card.EndDate</span
                  >
                </div>
                <div class="col-1 p-0">
                  <hr />
                </div>
              </div>
              <!-- mission organization and mission rating wrapper row div ends -->
               @if(card.MissionType == "Time"){
              <!-- mission period, seats left and deadline div starts -->
              <div class="container event-wrapper">
                <!-- mission period div starts -->

                <!-- mission period div ends -->
               
                <!-- seats details and deadline wrapper div row starts here -->
                <div
                  class="row pt-2 pb-3 mt-1 d-flex align-content-center justify-content-center"
                >
                
                  <div
                    class="col d-flex align-content-center justify-content-center pl-0"
                  >
                    <!-- seats img div starts -->
                    <div
                      class="seats-img d-flex justify-content-center align-content-center mr-2"
                    >
                      <img
                        src="~/assets/Seats-left.png"
                        class="mission-logo"
                        alt=""
                      />
                    </div>
                    <!-- seats img div ends -->
                    <!-- div containing seats details text starts -->

                    <div class="eventt">
                      <span class="event-num d-block">@card.AvailableSeats</span>
                      <span class="event-txt">Seats Left</span>
                    </div>

                    <!-- div containing seats details text ends -->
                  </div>
                  <!-- deadline wrapper col div starts -->
                  <div
                    class="col d-flex align-content-center justify-content-center"
                  >
                    <!-- clock img div starts -->
                    <div
                      class="seats-img align-content-center justify-content-center mr-2"
                    >
                      <img
                        src="~/assets/deadline.png"
                        class="mission-logo"
                        alt=""
                      />
                    </div>
                    <!-- clock img div ends -->
                    <!-- div containing from and to dates starts -->

                    <div class="eventt">
                      <span class="event-num d-block">@card.Deadline</span>
                      <span class="event-txt">Deadline</span>
                    </div>

                    <!-- div containing from and to dates ends -->
                  </div>
                  <!-- deadline wrapper col div ends -->
                </div>
                <!-- seats details and deadline wrapper div row ends here -->
                
              </div>
              <!-- mission period, seats left and deadline div ends -->
              }
              else{
                   <div class="container event-wrapper">
                <!-- mission period div starts -->

                <!-- mission period div ends -->
               
                <!-- seats details and deadline wrapper div row starts here -->
                <div
                  class="row pt-2 pb-3 mt-1 d-flex align-content-center justify-content-center"
                >
                
                  <div
                    class="col d-flex align-content-center justify-content-center pl-0"
                  >
                    <!-- seats img div starts -->
                    <div
                      class="seats-img d-flex justify-content-center align-content-center mr-2"
                    >
                      <img
                        src="~/assets/Seats-left.png"
                        class="mission-logo"
                        alt=""
                      />
                    </div>
                    <!-- seats img div ends -->
                    <!-- div containing seats details text starts -->

                    <div class="eventt">
                      <span class="event-num d-block">@card.AlreadyVolunteered</span>
                      <span class="event-txt">Already Volunteered</span>
                    </div>

                    <!-- div containing seats details text ends -->
                  </div>
                  <!-- deadline wrapper col div starts -->
                   <div
                    class="col d-flex align-content-center justify-content-center"
                  >
                   <ul class="list-group list-group-flush">
              <li class="list-group-item pt-0">
                <div class="date w-100 container d-flex align-items-center">
                  <div class="clock-img">
                    <img
                      src="~/assets/achieved.png"
                      id="clock-img"
                      alt=""
                    />
                  </div>
                  <div class="event-deadline pl-2">
                    <div
                      class="progress p-0 w-100 container"
                      role="progressbar"
                      aria-label="Basic example"
                      aria-valuenow="@card.GoalPercentage"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <div class="progress-bar" style="width:@card.GoalPercentage%;"></div>
                    </div>
                    <span class="achieved-txt">@card.GoalAchieved achieved</span>
                  </div>
                </div>
              </li>
            </ul>
            </div>
                  <!-- deadline wrapper col div ends -->
                </div>
                <!-- seats details and deadline wrapper div row ends here -->
                
              </div>
              <!-- mission period, seats left and deadline div ends -->
              }
              
              <div class="apply-btn-div d-flex p-4">
                  @if(card.HasApplied==true){
                      <button
                  class="btn text-lowercase apply-btn container-fluid align-items-center align-self-center" 
                >
                  <a class="apply-btn-txt" asp-action="VolunteeringMissionPage" asp-controller="Mission" asp-route-id="@card.MissionId"
                    >View Details&nbsp;
                    <img src="~/assets/right-arrow.png" alt=""
                  /></a>
                </button>
                  }
                  else if(card.RegistrationDeadline<DateTime.Now){
                      <button
                  class="btn text-lowercase apply-btn container-fluid align-items-center align-self-center" 
                >
                  <a class="apply-btn-txt" asp-action="VolunteeringMissionPage" asp-controller="Mission" asp-route-id="@card.MissionId"
                    >Closed&nbsp;
                    <img src="~/assets/right-arrow.png" alt=""
                  /></a>
                </button>
                  }
                  else{
                      <button
                  class="btn text-lowercase apply-btn container-fluid align-items-center align-self-center" 
                >
                  <a class="apply-btn-txt" asp-action="VolunteeringMissionPage" asp-controller="Mission" asp-route-id="@card.MissionId"
                    >Apply&nbsp;
                    <img src="~/assets/right-arrow.png" alt=""
                  /></a>
                </button>
                  }
                
              </div>
            </div>
          
        </div>
        }
        </div>
        </div>
