@using CI_Platform.Entities.ViewModels;
@model ShareStoryVm
@{
    var draftedstory = ViewBag.DraftedStory;
    var nomissionselected = ViewBag.SelectMission;
    var maxvideos = ViewBag.MaxVideo;
}

<div class="row row-cols-1 row-cols-xl-3 row-cols-md-2 main-select-div d-flex ps-2">
               @*select mission main div starts here*@
              <div class="selectiondiv col p-0 m-0 mt-4 pe-5">
                  <label class="selectdiv-title" for="mission-select">Select Mission</label><br />
                  <select asp-for="@Model.MissionId" class="mission-select w-100 mt-2" id="mission-select" onchange="getSavedData()" style="height:38px">
                      <option value=null>Select a Mission</option>
                    @foreach(var mission in Model.UserAppliedMissions)
                    {
                        
                        
                            <option value="@mission.MissionId">@mission.MissionName</option>
                        
                    }
                    @*<option>Select Your Mission</option>
                      <option>Option2</option>*@
                  </select>
                  @if(nomissionselected!=null){

                      <span class=text-danger>@nomissionselected</span>
                  }
              </div>
               @*select mission main div ends here*@
               @*story details main div starts here*@
              <div class="story-details-div col p-0 m-0 mt-4 pe-5">
                  <label class="story-title" asp-for="@Model.StoryTitle" for="storydesc">My Story title</label><br />
                  <input type="text" asp-for="@Model.StoryTitle" class="story-title w-100 mt-2" id="storydesc" style="height:38px" placeholder="Enter Story Title">
              </div>
              @*story details main div ends here*@
              @*date selection main div starts here*@
              <div class="date-selection-div col p-0 m-0 mt-4 pe-xl-2 pe-5">
                  <label class="selectdiv-title" asp-for="@Model.Date" for="date-select">Date</label><br />
                  <input type="date" asp-for="@Model.Date" class="date-i w-100 mt-2" id="date-select" style="height:38px" placeholder="Date">
              </div>
              @*date selection main div starts here*@
          </div>
         @*div wrapping select mission, story title and date ends*@
         @*story description div starts here*@


        <div class="mt-2">
                
                <div class="form-group mt-4">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="form-label my-0">My Story</label>
                        <textarea class="form-control summernote" asp-for="StoryDesctiption" id="editor" rows="3" name="story" maxlenght="40000"></textarea>
                    </div>
                </div>
            </div>
                            

                 
       


         @*story description div ends here*@
         @*video url div starts here*@
         <div class="video-main-div pt-3 mt-3">
             <label class="video-url-txt" asp-for="@Model.VideoUrl" for="video-url">Enter Video URL</label>
             @*<input type="url" asp-for="@Model.VideoUrl" class="video-path w-100 mt-2" id="video-url" style="height:38px" placeholder="Enter your url"/>*@
                    <textarea class="form-control"  asp-for="@Model.VideoUrl" rows="3" placeholder="enter video url" id="videourl"></textarea>
                @if(maxvideos != null)
                {
                    <span class="text-danger">@maxvideos</span>
                }
            </div>
         @*video url div ends here*@
         @*drag and drop starts here*@
        @* <form method="post" asp-action="Save" asp-controller="Story">*@
        <div class="row" style="margin-top:15px">
            <label>Upload your Photos</label>
            <div class="upload__box mt-2">
                  <div class="upload__btn-box">
                    <label class="upload__btn">
                      <img src="~/assets/drag-and-drop.png">
                      <input type="file" multiple asp-for="Storyimg" id="input-image" class="upload__inputfile" accept = "image/jpeg, image/png, image/jpg">
                    </label>
                  </div>
                  <div class="upload__img-wrap"></div>
            </div>
        </div>

         @*drag and drop ends here*@

        <div class="row mt-3">
                    <label class="form-label">Uploaded Images</label><br />
                    <div class="row border">
                    @if(Model.ImagePath != null)
                    {
                        @foreach(var image in Model.ImagePath)
                        {
                            <div class="saved-img" style="margin-right:1rem;">
                                <button class="save-cancel img-delete" type="button" data-source="@image" data-storyid="@Model.StoryId" @*id="img-delete"*@><i class="bi bi-x"></i></button>
                                <img src="~/assets/MissionMedia/Images/@image" />
                            </div>
                            
                        }
                    }
                    
                    else
                    {
                        <span>No Image Found</span>
                    }
                </div>
                </div>

          @*data-max_length="20"*@
         @*cancel, save and submit button wrapper div starts here*@

         <div class="button-wrapper d-flex mt-3 pt-3">
             <div class="col cancel-btn-div">
                 @*<a asp-action="StoriesListing" asp-controller="Story">*@<button asp-action="StoriesListing" asp-controller="Story" class="btn cancel-btn" >Cancel</button>@*</a>*@
             </div>

             <div class="col save-submit d-flex justify-content-end">
                 
                     <button type = "submit" class="btn me-3 save-btn" onclick="formSubmit()">Save</button>
                     <button class="btn submit-btn" type="submit" id="submit-btn" asp-action="Submit" asp-controller="Story" disabled>Submit</button>
                     
                   
                         
                    

             </div>
             
         </div>
         <script type="text/javascript">
             $(document).ready(function(){
                $('#editor').summernote({
                    height: 200, // set the height of the editor
                    toolbar: [
                        // add formatting options to the toolbar
                        ['style', ['bold', 'italic', 'strikethrough', 'subscript', 'superscript', 'underline']]
                    ]
                });

                 })
    
</script>
