@using CI_Platform.Entities.ViewModels;

@{
    ViewData["Title"] = "Registration Form";
    var emailexists = TempData["emailexists"];
}
@model RegistrationVm

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css"
      rel="stylesheet"
    />
    
  </head>

  <body>
    <div class="content-div d-flex">
      <!--Image Column-->
      <div class="left-box col-md-8 col-12">
        <div
          id="carouselExampleCaptions"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators m-4">
            @if(Model.banners.Count > 0)
            {
                @for(int i = 0; i < Model.banners.Count; i++)
                {
                    <button type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="@i"
                    class=@(i == 0 ? "active" : "")
                    aria-current="true"
                    aria-label="Slide @(i+1)"></button>
                }
            }
          </div>
          <div class="carousel-inner">
            @if (Model.banners.Count > 0)
                    {
                        for(int j = 0; j<Model.banners.Count; j++)
                        {
                            <div class="carousel-item @(j==0 ? "active" : "")">
                        <div class="gradient-block">
                            <img src="~/assets/Banner/@Model.banners[j].Image"
                                 class="d-block w-100"
                                 alt="..." />
                        </div>

                        <div class="carousel-caption d-md-block">
                            <h2 class="text-start">
                                @Model.banners[j].Text
                            </h2>
                            
                        </div>
                    </div>
                        }
                    }
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!--Prompt Column-->
      <div class="right-box">
        <header>
          
        </header>

        <div class="row reg-div">
            <form method="post" asp-action="registration" asp-controller="Home">
          <div class="flex-item mb-3">
            <label for="fname" asp-for="FirstName" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control"
              id="fname"
              asp-for="FirstName"
              placeholder="evan" 
            />
            <span asp-validation-for="FirstName" class="text-danger"></span>
          </div>
          <div class="flex-item mb-3">
            <label for="lname" asp-for="LastName" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lname"
              asp-for="LastName"
              placeholder="donohue" 
            />
            <span asp-validation-for="LastName" class="text-danger"></span>
          </div>
          <div class="flex-item mb-3">
            <label for="phone-no" asp-for="PhoneNumber" class="form-label">Phone Number</label>
            <input
              type="number"
              class="form-control"
              maxlength="10"
              id="phone-no"
              asp-for="PhoneNumber"
              placeholder="123456789" 
              
            />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
          </div>
          <div class="flex-item mb-3">
            <label for="emailadd" asp-for ="Email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="emailadd"
              asp-for="Email"
              placeholder="evan.donohue@gmail.com" 
            />
            <span asp-validation-for="Email" class="text-danger"></span>
                        @if(emailexists != null)
                        {
                            <span class="text-danger">@emailexists</span>
                        }
          </div>
          <div class="flex-item mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              asp-for="Password"
              placeholder="************" 
            />
            <span asp-validation-for="Password" class="text-danger"></span>
          </div>

          <div class="flex-item mb-3">
            <label for="password" class="form-label">Confirm Password</label>
            <span id="message"></span>
            <input
              type="password"
              class="form-control"
              id="cnfpassword"
              placeholder="************" 
              onkeyup="check()"
            />
            
          </div>

          <button
            type="submit"
            class="btn btn-outline-warning flex-item mb-3"
            id="login"
          >
            Sign Up
          </button>

                <a class="text-decoration-none link-dark" asp-controller="Home" asp-action="forgot">
            <p class="flex-item text-center para-text">Lost your password?</p>
          </a>

          <p class="flex-item text-center para-text">
            Already Registered?<a class="text.primary text-decoration-none" asp-controller="Home" asp-action="Index">Login Now</a>
          </p>
          </form>
        </div>
        <div class="row footer">
          <div class="d-flex justify-content-around h-50">
            <div class="footer para-text">
              <a href="#" class="text-decoration-none link-dark"
                >Privacy Policy</a
              >
          
          </div>
         
      </div>
    </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    >
        </script>
        <script>
            var check = function () {
                if (document.getElementById('password').value == document.getElementById('cnfpassword').value) {
                    document.getElementById('message').style.display = 'none';


                }
                else {
                    document.getElementById('message').style.color = 'red';
                    document.getElementById('message').innerHTML = 'not matching'
                }

            }

            
            }

        </script>
        
  </body>
        
        
</html>